*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.custom-container {
  margin-top: 40px;
}

.custom-card {
  border: 0px white;
  margin: 0 auto;
}

.btn{
  background-color: #04bf7e;
  border: 1px solid #04bf7e;
}

